.dropdownList {
    width: 100px;
    height: fit-content;
    background-color: transparent;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    padding: 2px;
    max-height: 100px;
    overflow: auto;
}

.dropdownList::-webkit-scrollbar {
    width: 0;
}
