.dropdownList {
    width: var(--spacing-xxxl);
    height: fit-content;
    background-color: transparent;
    border-radius: var(--spacing-xxs);
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xxs);
    max-height: var(--spacing-xxxxl);
    overflow: auto;
}

.dropdownList::-webkit-scrollbar {
    width: 0;
}
