.navbar {
    position: sticky;
    top: 0;
    max-width: 100%;
    height: fit-content;
}

.navbarLayout {
    display: grid;
    grid-template-columns: auto var(--spacing-m) 1fr;

    @media (min-width: 480px) {
        grid-template-columns: auto var(--spacing-xl) 1fr;
    }

    @media (min-width: 1200px) {
        grid-template-columns: auto var(--spacing-xxxl) 1fr;
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 3;
}
