/* add padding prop */

.container {
    display: grid;
    grid-template-columns: var(--spacing-m) 1fr var(--spacing-m);
    grid-template-rows: var(--spacing-xs) 1fr var(--spacing-xs);
    align-items: center;

    @media (min-width: 480px) {
        grid-template-columns: var(--spacing-xl) 1fr var(--spacing-xl);
        grid-template-rows: var(--spacing-m) 1fr var(--spacing-m);
    }

    @media (min-width: 1200px) {
        grid-template-columns: var(--spacing-xxxl) 1fr var(--spacing-xxxl);
        grid-template-rows: var(--spacing-m) 1fr var(--spacing-m);
    }
}

.children {
    grid-row: 2;
    grid-column: 2;
}
