:root {
    --cell-width: 17rem;
}

.cardsLayout {
    margin-top: var(--spacing-xl);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--cell-width), 1fr));
    grid-gap: var(--spacing-m);
    overflow: hidden;
    padding: var(--spacing-xs);
}
