:root {
    --card-height: 18rem;
}

.cardsLayout {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-height), 1fr));
    grid-gap: 1rem;
    overflow: hidden;
}
