:root {
    --logo-height: 3rem;
}

.logo {
    color: white;
    grid-column: 1;
    width: 100%;
    height: var(--logo-height);
    display: flex;
    align-items: center;
    font-size: var(--font-size-xs);
    font-weight: bolder;

    &:hover {
        text-decoration: underline white;
    }

    @media (min-width: 480px) {
        font-size: var(--font-size-m);
    }

    @media (min-width: 1200px) {
        font-size: var(--font-size-l);
    }
}
