:root {
    --card-height: 18rem;
    --image-border-radius: 1rem;
}

.card {
    height: var(--card-height);
    max-width: 100%;
    display: flex;
}

.image {
    min-width: 100%;
    object-fit: cover;
    border-radius: var(--image-border-radius);
}

.cardHeader {
    position: absolute;
    margin: var(--spacing-m);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
