.dropdownItem {
    border: none;
    background-color: white;
    border-radius: var(--spacing-xxs);
    margin-bottom: var(--spacing-xxs);
    cursor: pointer;
    padding: var(--spacing-xs);

    &:hover {
        background-color: lightgrey;
    }
}
