:root {
    --input-placement-padding: 1.5rem;
    --input-border-radius-mq-small: 2.25rem;
    --input-border-radius-mq-medium: 2.75rem;
    --input-height-mq-small: 2.25rem;
    --input-height-mq-medium: 2.75rem;
    --input-width: 37rem;
}

.searchInput {
    width: 100%;
    height: var(--input-height-mq-small);
    border-radius: var(--input-border-radius-mq-small);
    border: solid thin lightgray;
    background-color: white;
    margin-right: var(--spacing-xs);
    display: flex;

    @media (min-width: 480px) {
        height: var(--input-height-mq-medium);
        border-radius: var(--input-border-radius-mq-medium);
        margin-right: var(--spacing-m);
        width: var(--input-width);
    }
}

.input {
    width: calc(100% - var(--input-placement-padding));
    height: 100%;
    border: none;
    background: transparent;
    padding-left: var(--input-placement-padding);
    font-size: var(--font-size-xxs);

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-size: var(--font-size-xxs);
    }

    @media (min-width: 480px) {
        font-size: var(--font-size-xs);

        &::placeholder {
            font-size: var(--font-size-xs);
        }
    }
}
