.searchInput {
    height: 2.25rem;
    width: 100%;
    border-radius: 2.25rem;
    border: solid thin lightgray;
    background-color: white;
    margin-right: 0.5rem;
    display: flex;

    @media (min-width: 480px) {
        height: 2.75rem;
        border-radius: 2.75rem;
        margin-right: 1rem;
        width: 37rem;
    }
}

.input {
    width: calc(100% - 1.5rem);
    height: 100%;
    border: none;
    background: transparent;
    padding-left: 1.5rem;
    font-size: 0.75rem;
}

.input::placeholder {
    font-size: 0.75rem;
}

.input:focus {
    outline: none;
}
