:root {
    --button-radius-mq-small: 2.25rem;
    --button-radius-mq-medium: 2.75rem;
    --title-box-height: 1rem;
    --header-item-radius: 1.5rem;
    --name-box-spacing-mq-small: 2.75rem;
    --name-box-spacing-mq-medium: 3.5rem;
    --header-icon-padding: 0.35rem;
    --title-box-left-spacing: 2.75rem;
}

.menuItem {
    display: flex;
    flex-direction: column;

    &.isOnHeader {
        flex-direction: row;
        align-items: baseline;
    }
}

.button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
    fill: rgb(116, 116, 116);
    padding: 0;

    &:hover {
        fill: rgb(168, 168, 168);
    }
}

.iconBackground {
    max-width: var(--button-radius-mq-small);
    min-width: var(--button-radius-mq-small);
    height: var(--button-radius-mq-small);
    border-radius: 50%;
    background-color: white;
    padding: var(--spacing-xs);
    box-sizing: border-box;

    @media (min-width: 480px) {
        min-width: var(--button-radius-mq-medium);
        height: var(--button-radius-mq-medium);
        padding: var(--spacing-s);
    }
}

.icon {
    fill: inherit;
    width: 100%;
    height: auto;
}

.paddingRight {
    padding-right: var(--spacing-xs);

    @media (min-width: 480px) {
        padding-right: var(--spacing-m);
    }
}

.nameBox {
    font-size: var(--font-size-xxs);
    background-color: white;
    width: fit-content;
    position: absolute;
    margin-top: var(--name-box-spacing-mq-small);
    padding: var(--spacing-xxs) var(--spacing-xs);
    border-radius: var(--spacing-xs);
    align-self: center;

    &.alignLeft {
        align-self: flex-start;
    }

    &.alignRight {
        align-self: flex-end;
    }

    @media (min-width: 480px) {
        margin-top: var(--name-box-spacing-mq-medium);
        font-size: var(--font-size-xs);
    }
}

.name {
    margin: 0;
}

.isHeaderItem {
    height: var(--header-item-radius);
    min-width: var(--header-item-radius);
    max-width: var(--header-item-radius);
    padding: var(--header-icon-padding);
    margin: calc(var(--spacing-s) / 2) var(--spacing-s) calc(var(--spacing-s) / 2) var(--spacing-s);
}

.titleBox {
    position: absolute;
    transform: translate(var(--title-box-left-spacing), calc(var(--spacing-s) / 2));
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
    padding: var(--spacing-xxs) var(--spacing-xs);
    border-radius: var(--spacing-xxs);
    height: fit-content;
    max-width: var(--spacing-xxxxl);
    width: max-content;
}
