@keyframes animate-gradient {
  0%{background-position:0% 7%}
  50%{background-position:100% 94%}
  100%{background-position:0% 7%}
}

.background {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(307deg, #a6e7d7, #bce69a, #6bddff, #ad93fd, #ec9f9f);
  background-size: 1000% 1000%;
  animation: animate-gradient 60s ease infinite;
}
